<ul>
  <li>Pomme de terre</li>
  <li [ngStyle]="{backgroundColor: isThisIngredientVital ? 'red' : 'yellow'}">Raclette</li>
  <li>Jambon</li>
  <li [ngClass]="{'vital' : isThisIngredientVital === true}">Cornichons</li>
  <li>Chou-fleur</li>
</ul>
<hr>
<ng-template [appDisplayGuests]="displayGuestsList">
<ul>
  <li>Brenda</li>
  <li>Dylan</li>
  <li>Jean-mi</li>
  <li>Kylie</li>
</ul>
</ng-template>
<hr>
<ul *ngFor="let song of songList">
  <li>{{ song}}</li>
</ul>
<hr>
<h1 appHightLight>Raclette</h1>
<hr>
<ul>
  <li  appShowMovies [ngClass]="{'film' : isThisIngredientFilm ===true}">La soupe aux choux</li>
  <li>les affranchis</li>
  <li>casino</li>
  <li>x-men</li>
  <li>kung fu panda</li>
  <li>hobbit</li>
  <li>scarface</li>
  <li>lucy</li>
  <li>nostradamus</li>
</ul>
<hr>
<ul>
  <li>
    <a [routerLink]="['/sign-up']">Sign-up</a>
  </li>
  <li>
    <a [routerLink]="['/user-profile']">Profil</a>
  </li>
</ul>

<router-outlet></router-outlet>