<h1>{{email}}</h1><input type="email" name="email" />

<form (ngSubmit)="myForm.valid && onSubmit()" #myForm="ngForm">
    <div>
        <label for="user">User</label>
        <input name="user" type="text" [(ngModel)]="model.username" #username="ngModel" required minlength="4" maxlength="25">  
      </div>
    <div *ngIf="myForm.submitted">
        <div *ngIf="username.errors">
            <span *ngIf="username.errors.required"> le champs est requis</span>
            <span *ngIf="username.errors.minlength">il me faut au minimu 4 characteres</span>
        </div>
    </div>
    <div>
        <label for="email">Email</label>
        <input name="email" type="text" [(ngModel)]="model.emailname" #emailname="ngModel" required minlength="4" maxlength="25" >
    </div>
    <div>
        <span *ngIf="emailname.errors.required"> le champs est requis</span>
        <span *ngIf="emailname.errors.minlength">il me faut au minimu 4 characteres</span>

    </div>



  

    <button type="reset">Restaurer</button>
    <button type="submit">Envoyer</button>
</form>